<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gcc.course.springboot.dao.ErrorMapper">
    <select id="getAlls" resultType="cn.gcc.course.springboot.model.Error">
        select * from error
    </select>

    <!--<select id="findById" parameterType="BigInteger" resultType="cn.gcc.course.springboot.model.User">-->
        <!--select id,subject,A,B,C,D,answer,img from user WHERE id=#{id}-->
    <!--</select>-->

    <!--<insert id="insertAuthor">-->
        <!--insert into Author (id,username,password,email,bio)-->
        <!--values (#{id},#{username},#{password},#{email},#{bio})-->
    <!--</insert>-->
</mapper>